<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Pantry</title>
</head>
<body>
  <h1><%= user.username %>'s Pantry</h1>

  <ul>
    <% foods.forEach((food) => { %>
      <li>
        <strong><%= food.food %></strong>
      </li>
    <% }) %>
  </ul>

  <a href="/users/userlist">Back to User List</a>

</body>
</html>

